<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Library</title>
</head>
<body>
<ul>
<!--    <li th:each="book : ${allBooks}" th:text="${book.getTitle()}"></li>-->
    <li th:each="book : ${allBooks}">
<!--        <u th:text="${book.getTitle()}"></u> by <span th:text="${book.getAuthor().getName()}"></span>-->
        <u th:text="${book.getTitle()}"></u> by <span th:text="${book.getAuthor().getName()}"></span><span th:each="genre : ${book.getGenres()}"> [<span th:text="${genre.getName()}"></span>] </span>

    </li>
</ul>
</body>
</html>